body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;

}

.backgroundFill {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.329);
}

.sticky {
    position: sticky;
    padding: .2rem 0 .1rem 0 ;
}

header {
    background-color: #4c9274;
    color: #fff;
    top: 0;
    padding: 1em 0;
    text-align: center;
    width: 100%;
    transition: all, 0.5s;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 8px;
}

nav ul li a:hover {
    background-color: #71ac91;
    border-radius: 5px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 65px;
}

#firstSection {
    margin-top: 20px;
}

section {
    display: flexbox;
    text-align: center;
    border: #000000 solid 1px;
    background: white;
    border-radius: 20px;
    width: 900px;
    margin-bottom: 30px;
    font-size: 17px;
}

h3 {
    font-size: 18px;
}

.title {
    width: 870px;
    background-color: #4c9274;
    color: #fff;
    padding: 15px;
    font-size: 15px;
    margin: auto;
}

.title h2 {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}

p {
    color: rgb(0, 0, 0);
}

#rodape {
    color: #fff;
}

footer {
    background-color: #4c9274;
    color: #fff;
    text-align: center;
    padding: 16px 0;
    bottom: 0;
    width: 100%;
    height: 40px;
}

img {
    width: 300px;
    height: auto;
    display: block;
    margin: auto;
    margin-bottom: 10px;
} 

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li {
    margin: 0;
    padding: 5px 0;
    font-size: 15px;
}

.galeria {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px 0;
}

.hiddenDescription {
    display: none;
}

.modalBox {
    display: none;
    background-color: white;
    padding: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    z-index: 2;
    border-radius: 20px;
}

.modalClose {
    position: fixed;
    right: 2%;
    top: 13px;
    cursor: pointer;
    border-radius: 10px;
    padding: 5px 7px;
}

.modalClose:hover {
    background-color: rgb(169, 169, 169);
}

.galeria .moeda {
    width: 250px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.galeria .moeda img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.galeria .moeda p {
    margin: 5px 0;
}

.galeria .moeda:hover{
    background-color: #eeeeee;
}

.galeria .nota {
    width: 250px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.galeria .nota:hover {
    background-color: #eeeeee;
}

.galeria .nota img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.galeria .nota p {
    margin: 5px 0;
}


.destaques {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px 0;
}

.destaques .introduction {
    width: 250px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.destaques .introduction img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.destaques .introduction p {
    margin: 5px 0;
}

main section {
    margin: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

form.form-contato {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 800px;
    
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 40px auto;
}

form.form-contato label {
    font-size: 16px;
    color: #4c9274;
}

form.form-contato input, 
form.form-contato textarea {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

form.form-contato button {
    background-color: #4c9274;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
}

form.form-contato button:hover {
    background-color: #71ac91;
}

ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

ul li a {
    color: #4c9274;
    text-decoration: none;
}

ul li a:hover {
    text-decoration: underline;
}


